body{
    background-color: black;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.header{
    background-color: rgb(135, 177, 255);
    width: 100rem;
    height: 7rem;
}
.nav{
    background-color: aquamarine;
    width: 100rem;
    height: 7rem;
}
.section{
    background-color: rgb(248, 227, 110);
    width: 65rem;
    height: 25rem;
}
.article{
    background-color: rgb(245, 95, 95);
    width: 65rem;
    height: 25rem;
}
.aside{
    background-color: white;
    width: 34rem;
    height: 50rem;
}
.footer{
    background-color: rgb(135, 177, 255);
    width: 100rem;
    height: 7rem;
}
