* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.tudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 15%;
}

.header {
    background-color: rgb(73, 73, 255);
    text-align: center;
    padding: 20px;
    width: 60rem;
    height: 100px;
    justify-content: center;
}

.nav {
    background-color: rgb(47, 255, 151);
    text-align: center;
    padding: 15px;
    width: 60rem;
    height: 100px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 150rem;
}

.content{
    display: flex;
    flex-direction: row;
}

.section {
    background-color: rgb(255, 255, 46);
    width: 100%;
    padding: 20px;
    text-align: center;
    width: 30rem;
    height: 15rem;
}

.aside {
    background-color: white;
    width: 130rem;
    text-align: center;
    margin-right: 674px;
}

.article {
    background-color: rgb(255, 93, 53);
    width: 100%;
    padding: 20px;
    text-align: center;
    width: 30rem;
    height: 15rem;
}

.footer {
    background-color: rgb(73, 73, 255);
    text-align: center;
    padding: 15px;
    width: 60rem;
    height: 100px;
}
