*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(54, 130, 245);
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.header{
    background-color: rgb(245, 54, 54);
}

nav{
    background-color: rgb(94, 238, 219);
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

section{
    background-color: rgb(255, 242, 65);
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

article{
    background-color: rgb(231, 64, 64);
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

aside{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

footer{
    background-color: rgb(54, 130, 245);
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}